@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  color: #0F1113;
  background: #fff;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.green_logo {
  width: 90px;
}

