.mainPage {
    margin-top: 130px;
    background: url("../../public/back_main.png") no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 500px;
    padding-top: 200px;
}

.main__title {
    font-size: 45px;
    font-weight: 700;
    margin: 20px;
}

.section__title {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 20px 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.news__cards {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


@media (max-width: 1000px) {
    .mainPage {
        padding-bottom: 400px;
        padding-top: 100px;
    }

    .main__title {
        font-size: 40px;
    }

    .section__title {
        font-size: 36px;
    }

    .news__cards {
        padding-top: 10px;
        gap: 10px;
    }
}

@media (max-width: 700px) {
    .mainPage {
        padding-bottom: 200px;
        padding-top: 150px;
    }

    .main__title {
        font-size: 34px;
    }

    .section__title {
        font-size: 30px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .news__cards {
        padding-top: 5px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    .mainPage {
        padding-bottom: 50px;
        padding-top: 100px;
    }

    .main__title {
        font-size: 24px;
    }

    .section__title {
        font-size: 20px;
    }
}


@media (max-width: 400px) {
    .mainPage {
        padding-bottom: 10px;
        padding-top: 100px;
    }

    .main__title {
        font-size: 19px;
    }
}