.header__top {
    padding: 5px;
    background-color: #8ac263;
}

.header__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    font-size: 14px;
}

.divider {
    margin: 0 10px 2px 10px;
    color: #000000;
    font-size: 20px;
}

.logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.header {
    position: fixed; /* Фиксирует шапку */
    top: 0; /* Закрепить сверху */
    left: 1px; /* Закрепить по левому краю */
    width: 100%; /* Ширина 100% от экрана */
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    background-color: #fff; /* Цвет фона, чтобы шапка не сливалась с фоном */
    z-index: 1000; /* Чтобы шапка была поверх других элементов */
    text-align: center;
}

.header__nav {
    padding: 5px 0;
}


@media (max-width: 800px) {
    .header__info {
        font-size: 12px;
    }

    .divider {
        margin: 0 8px 2px 8px;
    }
}

@media (max-width: 550px) {
    .header__info {
        font-size: 10px;
    }

    .divider {
        margin: 0 8px 2px 8px;
    }
}

@media (max-width: 500px) {
    .header__info {
        font-size: 8px;
    }

    .divider {
        margin: 0 2px 1px 4px;
        font-size: 10px;
    }
}